body {
  min-height: 100%;
  min-width: 1090;
  background-color: #fff;
  overflow: auto;
  margin-right: 0px;
  position: relative;
  box-sizing: border-box;
  display: block;
}

.header {
  background-color: black;
  width: 100%;
  height: 36px;
  color: white;
}

.contain {
  width: 1090px;
  margin: 0 auto;
}

.header-next {
  overflow: hidden;
}

.header-next span {
  color: orange;
  line-height: 36px;
}

.header-next span a {
  color: orange;
  text-decoration: underline;
}

.header-next ul {
  float: right;
}

.header-next ul li {
  float: left;
  line-height: 36px;
}

.header-next ul li span {
  color: white;
  display: inline-block;
  margin-top: -2px;
  margin: 0 10px;
}

.header-next ul li a span {
  transform: rotate(180deg);
}

.header-next ul li :nth-last-child() {
  position: relative;
  overflow: hidden;
}

.header-next ul li :nth-last-child() .ma {
  width: 140px;
  height: 156px;
  border: 1px solid black;
  right: 400px;
  color: orange;
  margin: 10px auto 0;
  position: absolute;
}

.header-next ul li :nth-last-child() .ma .tupian {
  margin-top: 6px;
  height: 156px;
  width: 140px;
}

.header-next ul li :nth-last-child() .ma .tupian img {
  width: 120px;
  height: 120px;
  margin: 10px auto 0;
  display: block;
}

.header-next ul li :nth-last-child() .ma .tupian span {
  display: block;
  font-size: 10px;
  color: olivedrab;
}

.header-next ul li :nth-last-child():hover div {
  display: block;
}

.header-next ul li .sanjiao {
  border-bottom: 6px solid white;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-top: 6px solid transparent;
  position: absolute;
  z-index: 9;
  bottom: 0px;
  right: 370px;
}
