@charset "UTF-8";
/* 标题样式 */
h1 {
  width: 400px;
  height: 200px;
  color: red;
  background-color: #ccc;
}

.box {
  width: 400px;
  background-color: lightblue;
}

.box h2 {
  font-size: 30px;
  color: blue;
}

.box .show {
  width: 300px;
  height: 100px;
}

.box .show span {
  color: red;
}

.box .show p {
  color: yellow;
}

a {
  color: blue;
}

a:hover {
  color: red;
}

.content {
  width: 500px;
}

.content-title {
  color: red;
}

.content-main {
  color: blue;
}

.list {
  width: 500px;
  list-style: none;
}

.list li {
  padding: 0;
  color: blue;
}

.box1 {
  background-color: #ccc;
  width: 500px;
  height: 200px;
  color: red;
}

.box2 {
  padding: 10px;
  width: 300px;
  height: 100px;
  color: blue;
}

.box3, .box4 {
  padding: 20px;
  margin: 10px;
  font-size: 20px;
}

.box4 {
  width: 500px;
  background: pink;
}
